.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative !important;
	width: 100% !important;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
body{
	width: 100%;
}
input:focus, button:focus, a:focus{
	outline: none !important;
	box-shadow:none !important;
}
@media (min-width: 360px) and (max-width: 400){
	.sheetnew .owl-stage-outer .owl-item, .recommended .owl-stage-outer .owl-item, .bestsell .owl-carousel.owl-drag .owl-item {
		width: 307px !important;
	}
}
@media (max-width: 450px) {
	.casinoibat .csnn11{
		margin-bottom: 40px !important;
	}
	.casinoibat .csn1 span{
		font-size: 25px !important;
	}
	.timkiem-sheet{
		margin-top: -241px !important;
	}
	.timkiem-sheet .ts-1{
		width: 100% !important;
	}
	.gioithieu-sheet .bb1{
		top: -139px !important;
	} 
	.dc3 table .tr1{
		font-size: 13px !important;
	}
	.dc3 table .tr2 .td1{
		font-size: 13px !important;
	}
	.dc3 table .tr2 .td2{
		font-size: 13px !important;
	}
	.dc3 table .tr2 .td3{
		width: 80px !important;
	}
	.dc3 table .tr2 .td3 a{
		width: 80px !important;
		font-size: 10px !important;
		padding: 6px !important;
	}
	.dashboard-custom .dc2 .dc2l1, .dashboard-custom .dc2 .dc2l2, .dashboard-custom .dc2 .dc2l3{
		margin: auto !important;
		padding: 10px !important;
	}
	.container, .container-sm, .container-md, .container-lg, .container-xl {
		max-width: 90%;
	}
	.hr-1 .hr-sl{
		right: 0px !important;
		height: 20px !important;
		width: 20px !important;
		top: -8px !important;
		font-size: 12px !important;
	}
	.hr-1{
		position: relative !important;
		top: -83px;
		text-align: right !important;
	}
	.hl-1, .hc-1{
		position: relative !important;
		top: 40px;
	}

	.hl-1 img{
		display: none;
	}
	.hl-1 strong{
		margin-bottom: 5px;
	}
	.hr-1 ul li{
		padding: 0 15px !important; 
	}
	.hr-1 .hr-2s{
		display: none;
	}
	.navbar ul .ml-4{
		display: none;
	}
	.ml .navbar-nav{
		display: contents;
	}
	.banner .bt1{
		font-size: 25px !important;
	}
	.banner .bt2{
		font-size: 10px !important;
	}
	.banner .bt-11{
		right: 50px !important;
	}
	.banner-bottom{
		position: relative;
		top: -50px !important;
	}
	.bb-1 .bb1{
		margin: 5px 0;
	}
	.bb-2 .bb2{
		display: none;
	}
	.gia1{
		margin: 20px 0;
	}
	.gianhap{
		display: none;
	}
	.news{
		display: none;
	}
	.fl1 img{
		margin-left: 0px !important; 
	}
	.ft21{
		font-size: 14px !important;
	}
	.ft22{
		position: relative !important;
		top: -94px;
		left: 130px;
	}
	.about .a1c{
		font-size: 15px !important;
	}
	.bestsell{
		margin-top: -151px !important;
	}
	.bslt .bslt1 span{
		font-size: 17px !important;
	}
	
	.bsr{
		display:none !important;
	}
	.bslc .blog-entry{
		padding: 3px !important;
	}
	.banner-bottombn{
		margin-bottom: 100px !important; 
	}
	/*.sheetnew .owl-stage-outer .owl-item, .recommended .owl-stage-outer .owl-item, .bestsell .owl-carousel.owl-drag .owl-item {
		width: 307px !important;
		}*/
		.recommended .bslc .bslc2, .sheetnew .bslc .bslc2{
			margin-top: 58px !important;
		}
		.information .inl4 {
			margin: 30px 27px !important;
		}
		.information .inr1 img{
			width: 38% !important;
		}
		.information .inr input{
			width: 100% !important;
		}
		.information .inr2{
			font-size: 12px !important;
		}
		.information .inr1 button{
			padding: 3px 20px !important;
		}
		.information .inr9{
			float: none !important;
		}
  /*.hr-1 .hr-sl{
  	right: 88px !important;
  	}*/
  	.ds1{
  		padding: 30px 0 !important;
  	}
  	.preview-thumbnail.nav-tabs li img{
  		width: 45px !important; 
  	}
  	.preview-thumbnail.nav-tabs li{
  		margin-bottom: 8px !important;
  	}
  	.dsr5 audio, .dsr6 button, .dsr7 table{
  		width: 100% !important;
  	}
  	.youtube iframe{
  		width: 100% !important;
  		height: 200px !important;
  	}
  }
  @media (min-width: 401px)  and (max-width: 450px){
  	.container, .container-sm, .container-md, .container-lg, .container-xl {
  		max-width: 90%;
  	}
  	.hl-1 img{
  		display: none;
  	}
  	.hl-1 strong{
  		margin-bottom: 5px;
  	}
  	.hr-1 ul li{
  		padding: 0 15px !important; 
  	}
  	.hr-1 .hr-2s{
  		display: none;
  	}
  /*.hr-1 .hr-sl{
  	right: 120px !important;
  	}*/
  }
  @media (min-width: 600px)  and (max-width: 800px){
  	.gioithieu-sheet{
  		width: 100% !important;
  	}
  	.timkiem-sheet{
  		margin-top: -221px !important;
  	}
  	.timkiem-sheet .ts-1{
  		width: 80% !important;
  	}
  	.dashboard-custom .dc2 .dc2l1, .dashboard-custom .dc2 .dc2l2, .dashboard-custom .dc2 .dc2l3{
		margin: auto !important;
		padding: 10px !important;
	}
	.dc3 table .tr2 .td3{
		width: 80px !important;
	}
	.dc3 table .tr2 .td3 a{
		width: 80px !important;
		font-size: 10px !important;
		padding: 6px !important;
	}
  	.container{
  		width: 96% !important;
  	}
  	body{
  		width: 100% !important;
  	}
  	.bb-2, .hr-1 .hr-2s, .navbar ul .ml-4, .hl-1 strong{
  		display: none !important;
  	}
  	.hc-1{
  		top: 5px !important;
  	}
  	.hr-1 .hr-sl{
  		right: 35px !important;
  	}
  	.gia1{
  		margin: 10px 0 !important;
  	}
  	.bt-11{
  		top: 123px !important;
  		right: 49px !important;
  	}
  	.gianhap .gn .gn1{
  		font-size: 30px !important;
  	}
  	.gianhap .gn{
  		top: -215px !important;
  	}
  	.news {
  		margin-top: -166px !important;
  	}
  	.ds1{
  		padding: 30px 0 !important;
  	}
  	.dsr7 table{
  		width: 300px !important;
  	}
  	.youtube{
  		margin-top: 50px !important;
  	}
  	.youtube iframe{
  		width: 100% !important;
  		height: 360px !important;
  	}
  	.recommended .bslc .bslc2{
  		margin-top: 40px !important;
  	}
  	.bestsell{
  		margin-top: 0px !important;
  		margin-bottom: 30px !important;
  	}
  	.bsr{
  		display: none !important;
  	}
  	.bslc .blog-entry .bslc1{
  		top: 304px !important;
  	}
  	.sheetnew, .recommended{
  		margin-top: 100px !important;
  		margin-bottom: 30px !important;
  	}
  	.information .inl4{
  		margin: 17px !important;
  	}
  	.information .inr input{
  		width: 100% !important;
  	}
  }
  @media (min-width: 1000px) and (max-width: 1199px) {
  	.gioithieu-sheet{
  		width: 100% !important;
  	}
  	.timkiem-sheet{
  		margin-top: -225px !important;
  	}
  	.dashboard-custom .dc2 .dc2l1, .dashboard-custom .dc2 .dc2l2, .dashboard-custom .dc2 .dc2l3{
		margin: auto !important;
		padding: 10px !important;
	}
	.dc3 table .tr2 .td3{
		width: 80px !important;
	}
	.dc3 table .tr2 .td3 a{
		width: 80px !important;
		font-size: 10px !important;
		padding: 6px !important;
	}
  	body{
  		width: 100% !important;
  	}
  	.information input{
  		width: 100% !important;
  	}
  	.container, .container-sm, .container-md, .container-lg, .container-xl {
  		max-width: 960px;
  	}
  	.hr-1 .hr-sl{
  		right: 55px !important;
  	}
  	.hr-1 ul li{
  		padding: 0 15px !important; 
  	}
  	.hr-1 .hr-2s{
  		display: none;
  	}
  	.gianhap .gn{
  		top: -277px !important;
  	}
  	.tab-content img{
  		height: 731px !important;
  	}
  	.youtube iframe{
  		width: 70% !important;
  		height: 360px !important;
  	}

  	.bestsell{
  		margin-top: -31px !important;
  		margin-bottom: 30px !important;
  	}
  	.owl-carousel.owl-drag .owl-item{
  		width: 186px !important;
  	}
  	.bestsell .bslc .blog-entry .bslc1 .bslc11{
  		font-size: 13px !important;
  	}
  	.bestsell .bslc .blog-entry .bslc1{
  		padding: 10px !important;
  		top: 130px !important;
  	}
  	.bestsell .bslc .bslc2 span{
  		font-size: 13px !important;
  	}
  	.bestsell .bsr img{
  		top: -103px !important;
  	}
  	.sheetnew {
  		margin-top: 100px !important;
  		margin-bottom: 100px !important;
  	}
  	.sheetnew .owl-carousel.owl-drag .owl-item{
  		width: 210px !important;
  	}
  	.sheetnew .bslc .blog-entry .bslc1{
  		padding:10px !important;
  		top: 160px !important;
  	}
  	.sheetnew .bslc .blog-entry .bslc1 .bslc11{
  		font-size: 13px !important; 
  	}
  	.sheetnew .bslc .bslc2 span{
  		font-size: 16px !important;
  	}
  	.recommended {
  		margin-top: 100px !important;
  		margin-bottom: 100px !important;
  	}
  	.recommended .owl-carousel.owl-drag .owl-item{
  		width: 210px !important;
  	}
  	.recommended .bslc .blog-entry .bslc1{
  		padding:10px !important;
  		top: 160px !important;
  	}
  	.recommended .bslc .blog-entry .bslc1 .bslc11{
  		font-size: 13px !important; 
  	}
  	.recommended .bslc .bslc2 span{
  		font-size: 16px !important;
  	}
  /*.hr-1 .hr-sl{
  	right: 50px !important;
  	}*/
  }
  @media (min-width: 1200px) and (max-width: 1359px) {
  	.gioithieu-sheet{
  		width: 100% !important;
  	}
  	.timkiem-sheet{
  		margin-top: -225px !important;
  	}
  	.banner-bottom{
  		margin-top: 7px !important;
  	}
  	.information .inl4{
  		margin: 17px !important;
  	}
  	.information .inr input{
  		width: 80% !important;
  	}
  	.information .inr9 button{
  		margin-right: 107px !important;
  	}
  	.container, .container-sm, .container-md, .container-lg, .container-xl {
  		max-width: 1000px;
  	}
  	.hr-1 .hr-2s{
  		font-size: 13px !important;
  	}
  	.bestsell {
  		margin-top: 18px !important;
  	}
  	.bsr img{
  		top: -109px !important;
  	}
  	.bestsell .owl-carousel .owl-drag .owl-item{
  		width: 195px !important;
  	}
  	.bslt .bslt1 span{
  		font-size: 20px !important;
  	}
  	.bestsell .bslc .blog-entry .bslc1{
  		font-size: 12px !important;
  		padding: 10px !important;
  		top: 165px !important;
  	}
  	.bslc .bslc2 span{
  		font-size: 15px !important;
  	}
  	.bslc .blog-entry .bslc1  .bslc12{
  		font-size: 11px !important;
  	}
  	.sheetnew{
  		margin-top: 100px;
  	}
  	.recommended .blog-entry .bslc1, .sheetnew .blog-entry .bslc1{
  		top: 270px !important;
  	}
  /*.hr-1 .hr-sl{
  	right: 40px !important;
  	}*/
  }
  @media (min-width: 1360px) and (max-width: 1450px){
  	.gioithieu-sheet{
  		width: 80% !important;
  	}
  	.timkiem-sheet{
  		margin-top: -225px !important;
  	}
  	.banner-bottom{
  		margin-top: 7px !important;
  	}
  	.information .inl4{
  		margin: 17px !important;
  	}
  	.information .inr input{
  		width: 80% !important;
  	}
  	.information .inr9 button{
  		margin-right: 115px !important;
  	}
  	.container, .container-sm, .container-md, .container-lg, .container-xl {
  		max-width: 1050px;
  	}
  	.hr-1 .hr-sl{
  		right: 25px !important;
  	}
  	.bestsell {
  		margin-top: 70px !important;
  	}
  	.bestsell .bslc .blog-entry .bslc1{
  		font-size: 13px !important;
  		padding: 10px !important;
  		top: 176px !important;
  	}
  	.bslc .bslc2 span{
  		font-size: 15px !important;
  	}
  	.bslt .bslt1 span{
  		font-size: 20px !important;
  	}
  	.sheetnew  .bslc .bslc2, .recommended .bslc .bslc2{
  		margin-top: 64px !important;
  	} 
  	.sheetnew .bslc .bslc2 span, .recommended .bslc .bslc2 span{
  		font-size: 22px !important;
  	}
  	.bestsell .bsr img{
  		top: -123px !important;
  	}
  	.sheetnew {
  		margin-top: 100px !important;
  	}
  	
  	.preview-thumbnail.nav-tabs li img{
  		width: 71px !important;
  	}
  	.ds1{
  		padding: 30px 0 !important;
  	}
  	.dsr3{
  		margin-top: 20px !important;
  	}
  	.dsr4{
  		margin-top: 35px !important;
  	}
  	.dsr5{
  		margin-top: 25px !important;
  	}
  	.dsr6{
  		margin-top: 15px !important;
  	}
  	.dsr7{
  		margin-top: 5px !important;
  	}
  	.youtube iframe{
  		width: 70%;
  		height: 360px !important;
  	}
  }
  @media (min-width: 1451px) and (max-width: 1590px){
  	.gioithieu-sheet{
  		width: 80% !important;
  	}
  	.timkiem-sheet{
  		margin-top: -225px !important;
  	}
  	.container, .container-sm, .container-md, .container-lg, .container-xl {
  		max-width: 1050px !important;
  	}
  	.information .inl4{
  		margin: 17px !important;
  	}
  	.information .inr input{
  		width: 80% !important;
  	}
  	.information .inr9 button{
  		margin-right: 115px !important;
  	}
  /*.hr-1 .hr-sl{
  	right: 90px !important;
  	}*/
  }
  @media (min-width: 1591px) and (max-width: 1800px){
  	.banner-bottom{
  		margin-top: 11px !important;
  	}
  	.gioithieu-sheet{
  		width: 70% !important;
  	}
  	.timkiem-sheet{
  		margin-top: -161px !important;
  	}
  	.information .inl4{
  		margin: 17px !important;
  	}
  	.information .inr input{
  		width: 80% !important;
  	}
  	.information .inr9 button{
  		margin-right: 155px !important;
  	}
  	.container, .container-sm, .container-md, .container-lg, .container-xl {
  		max-width: 1400px;
  	}
  	.hr-1 .hr-sl{
  		right: 80px !important;
  	}
  	.bb2 img {
  		width: 75%;
  	}
  	.bb1, .bb2 {
  		top: -116px !important;
  	}
  	.about {
  		margin-top: -85px !important;
  	}
  	.bestsell {
  		margin-top: 130px !important;
  	}
  	.bestsell .bsr img{
  		top: -166px !important;
  	}
  	.bestsell .owl-carousel.owl-drag .owl-item{
  		width: 280px !important;
  	}
  	.bestsell .bslc .blog-entry .bslc1{
  		top: 237px !important;
  	}
  	.sheetnew{
  		margin-top: 100px !important;
  	}
  	.sheetnew .owl-stage-outer .owl-item{
  		width: 320px !important;
  	}
  	.sheetnew .blog-entry .bslc1{
  		top: 290px !important;
  	}
  	.recommended{
  		margin-top: 100px !important;
  	}
  	.recommended .owl-stage-outer .owl-item{
  		width: 320px !important;
  	}
  	.recommended .blog-entry .bslc1{
  		top: 290px !important;
  	}
  	.ds1{
  		padding: 30px 0!important;
  	}
  	.dsr7 table{
  		width: 300px !important;
  	}
  	.youtube iframe{
  		width: 60% !important;
  		height: 400px !important;
  	}
  /*.hr-1 .hr-sl{
  	right: 90px !important;
  	}*/
  }
  @media (min-width: 1801px) and (max-width: 2000px){
  	.bt-11{
  		top: 261px !important;
  	}
  	.banner-bottom{
  		margin-top: 11px !important;
  	}
  	.gioithieu-sheet{
  		width: 60% !important;
  	}
  	.timkiem-sheet{
  		margin-top: -109px !important;
  	}
  	.information .inl4{
  		margin: 20px 65px !important;
  	}
  	.information .inr input{
  		width: 80% !important;
  	}
  	.information .inr9 button{
  		margin-right: 165px !important;
  	}
  	.container, .container-sm, .container-md, .container-lg, .container-xl {
  		max-width: 1500px;
  	}
  	.hl-1 {
  		font-size: 30px !important;
  	}
  	.hr-1 .hr-sl{
  		right: 100px !important;
  	}
  	.bb1, .bb2 {
  		top: -60px !important;
  	}
  	.bb2 img {
  		width: 70%;
  	}
  	.about {
  		margin-top: -22px !important;
  	}
  	.bt-11{
  		right: 286px !important;
  	}
  	.bestsell {
  		margin-top: 214px !important;
  	}
  	.bestsell .bsr img{
  		top: -166px !important;
  	}
  	.bestsell .owl-carousel.owl-drag .owl-item{
  		width: 306px !important;
  	}
  	.bestsell .bslc .blog-entry .bslc1{
  		top: 272px !important;
  	}
  	.sheetnew{
  		margin-top: 100px !important;
  	}
  	.sheetnew .owl-stage-outer .owl-item{
  		width: 345px !important;
  	}
  	.sheetnew .blog-entry .bslc1{
  		top: 325px !important;
  	}
  	.recommended{
  		margin-top: 100px !important;
  	}
  	.recommended .owl-stage-outer .owl-item{
  		width: 345px !important;
  	}
  	.recommended .blog-entry .bslc1{
  		top: 325px !important;
  	}
  	.youtube iframe{
  		width: 50% !important;
  		height: 350px !important;
  	}
  	.dsr7 table{
  		width: 300px !important;
  	}
  	.recommended .bslc .blog-entry{
  		padding: 3px !important;
  	}
  }
  header{
  	background-color: #174060;
  	color: white;
  }
  ul{
  	padding:0;
  	margin: 0;
  }
  header .container{
  	padding: 10px 0;
  }
  .font-size-13{
  	font-size: 15px; 
  }
  .center{
  	text-align: center;
  }
  .hl-1{
  	font-size: 25px;
  }
  .hl-1 img{
  	width: 35%;
  	text-align: center;
  }
  .hc-1 .input-group-text{
  	background-color: #3caea4;
  	border: 2px solid #3caea4;
  }
  .hc-1 i{
  	color: white;
  }
  .hc-1, .hr-1{
  	margin: auto;
  	color: white;
  }


  .hr-1 ul{
  	display: inline-flex;
  	list-style-type: none;
  }
  .hr-1 ul a i{
  	color: white;
  }
  .hr-1 ul li span{
  	color: #c7d8e6;
  }
  .hr-1 ul li{
  	padding: 0 8px;
  	text-align: center;
  }
  .hr-1 ul li i{
  	font-size: 20px;
  }
  .hr-1 .hr-2s{
  	font-size: 14px;
  }
  .hr-1 .hr-sl{
  	border: 1px solid #3caea4;
  	background-color: #3caea4;
  	position: absolute;
  	border-radius: 50%;
  	height: 26px;
  	width: 26px;
  	padding: revert;
  	top: -10px;
  	right: 25px;
  }
  .menu, .ml{
  	background-color: #20639a !important;
  	color: white;
  }
  .navbar{
  	padding: 0 !important;
  	margin:auto !important;
  }
  .navbar ul li{
  	padding: 0 15px;
  }
  .navbar ul .ml-3 {
  	border-right: 1px solid white !important;
  	padding-right: 10px !important;
  }
  .navbar ul .ml-4{
  	margin: auto !important;
  	padding-left: 100px;
  }
  .navbar ul .ml-4 span{
  	color: #c7d8e6;
  }
  .navbar a{
  	color: white;
  }
  .banner{
  	width: 100%;
  	height: 350px;
  /*background-image: url('../images/banner1-index.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;*/
}
.bt-11{
	position: absolute;
	top: 194px;
	right: 200px;
}
.banner .bt1{
	font-size: 54px;
	color: white;
	font-weight: bold;
}
.banner .bt2{
	font-size: 13px;
	color: #c7d8e6;
}
.banner-bottom .bb1{
	border: 1px solid #f7db73;
}

.banner-bottom .bb1{
	border: 1px solid #968a54;
}
.banner-bottom .bb11{
	background-color: #174060;
	color: white;
	text-align: center;
	padding: 5px 0px;
	font-size: 14px;
}
.banner-bottom .bb21{
	background-color: #20639b !important;
}
.banner-bottom .bb31{
	background-color: #3caea3 !important;
}
.banner-bottom .bb12 .bb1211{
	margin: auto;
}
.banner-bottom .bb12 .bb121l{
	font-size: 40px;
	font-weight: bold;
	color: #f5d55c;
}
.hr-111{
	text-align: center;
	margin: 3px 10px;
	height: 1px;
	background-color: #968a54;
}
.banner-bottom .bb121r1{
	font-weight: bold;
	font-size: 15px;
}
.banner-bottom .bb121r1, .banner-bottom .bb121r2, .banner-bottom .bb121r3{
	color: #20629b;
	font-size: 13px;
}
.banner-bottom .bb121r2, .banner-bottom .bb121r3{
	font-weight: 200;
}
.bb12{
	background-color: white;
}
.bb-1{
	padding: 0 5px !important;
}
.bb1{
	position: relative;
	top: -180px;
}
.bb2 img{
}
.bb2{
	position: relative;
	top: -180px;
}
.about{
	margin-top: -150px;
	background-color: #20639a;
}
.about .a1t{
	text-align: center;
	color: white;
	padding: 20px;
}
.about .a1t span{
	font-size: 30px;
	font-weight: bold;
	padding-top: 20px;
}
.about .a1c{
	font-size: 18px;
	color: white;
	padding-bottom: 15px;
}
.join{

}
.join .jt1{
	color: #174060;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 30px 0;
}
.bb-2{
	padding: 0 5px;
}
.row{
	padding: 0 !important;
	margin: 0 !important;
}
.bb121r{
	line-height: 17px;
}
.gia1{
	padding: 0 35px !important;
	text-align: center;
}
.gia1 .jc1-1{
	width: 100px;
	height: 100px;
	border: 1px solid #20639a;
	border-radius: 50%;
	padding: 20px;
	margin: auto;
}
.gia1 img{
	margin:auto;
}
.gia1 .jc1-2{
	color: #3d5c77;
	font-size: 18px;
	font-weight: 500;
}
.gia1 .jc1-3{
	color: #3d5c77;
	font-size: 11px;
	font-weight: 400;
	line-height: 11px;
}
.dkn{
	text-align: center;
	margin: 40px 0;
}
.dkn .dkn1{
	background-color: #20639b;
	color: white;
	padding: 8px 25px;
	border-radius: 10px;
	font-size: 23px;
	text-decoration: none;
}
.gianhap .gn{
	position: relative;
	top: -340px;
	color: #f6d55c;
}
.gianhap .gn .gn1{
	font-size: 45px;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 30px;
}
.gianhap .gn .gn2{
	font-size: 25px;
	border: 1px solid #f6d55c;
	padding: 2px 40px;
	border-radius: 10px;
	margin-top: 20px;
}
.news{
	margin-top: -210px;
}
.news .nt{
	color: #174060;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding: 30px 0;
}
.nec .nec1{
	padding: 0 15px !important;
}
.nec .nec1 .nec11{
	box-shadow: 4px 4px 4px #938680;
	padding: 0 0 10px 0;
}
.nec .nec1 .nec11 span{
	color: #20629b;
	font-size: 14px;
	line-height: 12px;
	font-weight: bold;

}
.nec .nec1 .nec11 .nec111{
	margin-left: 10px;
}
footer{
	background-color: #173f5f;
}
.fl1 img{
	margin-left: 40px;
}
.fl ul li{
	list-style: none;
	color: white;
}
.fl ul li a{
	color: #c7d8e6;
}
.footer{
	padding: 30px 0;
}
.ft2{
	margin-top: 20px !important;
}
.ft2 .ft21 a{
	color: #f6d55c;
	border: 1px solid #c7d8e6;
	padding: 5px 30px;
	border-radius: 10px;
}
.ft2 .ft211{
	font-size: 9px;
	color: #c7d8e6;
}
.bestsell{
	margin-top: 210px;
}
.bslc .blog-entry{
	padding-left: 2px;
}
.bslc .blog-entry img{
	border: 1px solid #a4bfd6;
}
.bslc .blog-entry .bslc1{
	padding: 30px 10px;
	background-color: #20639b;
	color: white;
	font-size: 16px;
	position: absolute;
	top: 273px;
	box-shadow: 5px 5px 5px #676b6f;
}
.bslc .bslc2{
	text-align: center;
	padding: 24px;
}
.bslc .bslc2 span{
	background-color: #173f5f;
	color: #f6d55c;
	padding: 10px 25px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 24px;
}
.bslt .bslt1{
	position: relative;
	top: -50px;
}
.bslt .bslt1 span{
	background-color: #3caea3;
	color: white;
	padding: 10px 30px;
	font-size: 25px;
	font-weight: bold;

}
.bestsell .bsr img{
	position: relative;
	top: -170px;
}
.banner-bottom{
	margin-top: -50px;
	margin-bottom: 100px;
}
.sheetnew .owl-stage-outer .owl-item{
	width: 345px;
}
.sheetnew .blog-entry .bslc1{
	top: 324px;
}
.recommended{
	margin-top: 70px;
}
.recommended .owl-stage-outer .owl-item{
	width: 345px;
}
.recommended .blog-entry .bslc1{
	top: 324px;
}
.bslc .blog-entry .bslc1  .bslc12{
	color: #dfe5ed;
	font-size: 13px;
}	
.owl-carousel {
	position: relative; 
}
.owl-carousel .owl-item {
	opacity: 1; 
}
.owl-carousel .owl-item.active {
	opacity: 1; 
}
.owl-carousel .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%; 
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -60px;
	color: rgba(0, 0, 0, 0.1) !important;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
	opacity: 0; 
}
@media (prefers-reduced-motion: reduce) {
	.owl-carousel .owl-nav .owl-prev,
	.owl-carousel .owl-nav .owl-next {
		-webkit-transition: none;
		-o-transition: none;
		transition: none; 
	} 
}

.owl-carousel .owl-nav .owl-prev span:before, .owl-carousel .owl-nav .owl-next span:before {
	font-size: 30px; 
}
.owl-carousel .owl-nav .owl-prev {
	left: 0; 
}
.owl-carousel .owl-nav .owl-next {
	right: 0; 
}
.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 10px; 
}
.owl-carousel .owl-dots .owl-dot {
	width: 15px;
	height: 15px;
	margin: 5px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.1);
	position: relative; 
}
.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
	outline: none !important; 
}
.owl-carousel .owl-dots .owl-dot.active {
	background: #1089ff; 
}
.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
	opacity: 1; 
}
.owl-carousel:hover .owl-nav .owl-prev {
	left: -25px; 
}
.owl-carousel:hover .owl-nav .owl-next {
	right: -25px; 
}

.owl-carousel.owl-drag .owl-item {
	-ms-touch-action: pan-y;
	touch-action: pan-y; 
}
.recommended, .sheetnew{
	margin-bottom: 50px;
}
.preview {  
	display: -webkit-box;   
	display: -webkit-flex;  
	display: -ms-flexbox;   
	display: flex;  
	-webkit-box-orient: vertical;   
	-webkit-box-direction: normal;  
	-webkit-flex-direction: column; 
	-ms-flex-direction: column; 
	flex-direction: column;
} 

@media screen and (max-width: 996px) { 
	.preview { 
		margin-bottom: 20px;
	}
}

.preview-pic {  
	-webkit-box-flex: 1;    
	-webkit-flex-grow: 1;   
	-ms-flex-positive: 1;   
	flex-grow: 1;
}

.preview-thumbnail.nav-tabs {   
	border: none;   
	margin-top: 15px;
	display: contents;
}
.preview-thumbnail.nav-tabs li {    
	width: 18%; 
	margin-right: 2.5%;
	margin-bottom: 17px;
}

.preview-thumbnail.nav-tabs li img {    
	width: 100px;    
	display: block;
	border: 1px solid #20639b;

}

.preview-thumbnail.nav-tabs li a {  
	padding: 0; 
	margin: 0;  
	cursor:pointer;
}

.preview-thumbnail.nav-tabs li:last-of-type {   
	margin-right: 0;
}

.tab-content {  
	overflow: hidden;
}

.tab-content img {  
	width: 96%;    
	-webkit-animation-name: opacity;    
	animation-name: opacity; 
	-webkit-animation-duration: .3s; 
	animation-duration: .3s;
	border: 1px solid #20639b;
}

.ds1 { 
	margin-top: 0px;    
	padding: 3em;   
	line-height: 1.5em;
} 

@media screen and (min-width: 997px) { 
	.wrapper { 
		display: -webkit-box; 
		display: -webkit-flex; 
		display: -ms-flexbox; 
		display: flex;
	}
}

.details {  
	display: -webkit-box;
	display: -webkit-flex;  
	display: -ms-flexbox;   
	display: flex;  
	-webkit-box-orient: vertical;   
	-webkit-box-direction: normal;  
	-webkit-flex-direction: column; 
	-ms-flex-direction: column; 
	flex-direction: column;
}

.colors {   
	-webkit-box-flex: 1;    
	-webkit-flex-grow: 1;   
	-ms-flex-positive: 1;   
	flex-grow: 1;
}

.product-title, .price, .sizes, .colors{   
	text-transform: UPPERCASE;  
	font-weight: bold;
}

.checked, .price span { 
	color: #ff9f1a;
}

.product-title {    
	margin-top: 0;
	font-size: 25px;
	line-height: 30px;
	color: #173f5f;
}
.dsr1{
	font-size: 25px;
	line-height: 35px;
	color: #173f5f;
	font-weight: 400;
}
.dsr2{
	margin-top: 20px;
}
.dsr3, .dsr4, .dsr5, .dsr6, .dsr7{
	margin-top: 40px;
}
.dsr3 span{
	padding: 10px 40px;
	background-color: #173f5f;
	color: #e7ca5c;
	font-weight: bold;
	font-size: 25px;
	border-radius: 6px;
}
.dsr4 span{
	text-transform: UPPERCASE;  
	padding: 5px 20px;
	background-color: #a8a8a8;

}
.dsr6 button{
	background-color: #f6d55c;
	padding: 12px 25px;
	color: #173f5f;
	border: none;
	font-weight: bold;
	border-radius: 5px;
	font-size: 24px;
}
.dsr7 .dsr71{
	background-color: #efefef;
	padding: 5px 8px; 
	font-weight: bold;
} 
.dsr7 .dsr72{
	padding: 5px 8px; 
} 
.size {
	margin-right: 10px;
}

.size:first-of-type {   
	margin-left: 40px;
}

.color {    
	display: inline-block;  
	vertical-align: middle; 
	margin-right: 10px; 
	height: 2em;    
	width: 2em; 
	border-radius: 2px;
}

.color:first-of-type {  
	margin-left: 20px;
}

.add-to-cart, .like {   
	background: #ff9f1a;    
	padding: 1.2em 1.5em;   
	border: none;   
	text-transform: UPPERCASE;  
	font-weight: bold;  
	color: #fff;    
	text-decoration:none; 
	-webkit-transition: background .3s ease; 
	transition: background .3s ease;
}

.add-to-cart:hover, .like:hover {   
	background: #b36800;    
	color: #fff;    
	text-decoration:none;
}

.not-available {    
	text-align: center; 
	line-height: 2em;
}

.not-available:before { 
	font-family: fontawesome;   
	content: "\f00d";   
	color: #fff;
}

.orange {   
	background: #ff9f1a;
}

.green {    
	background: #85ad00;
}

.blue { 
	background: #0076ad;
}

.tooltip-inner {    
	padding: 1.3em;
} 

@-webkit-keyframes opacity { 
	0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
	100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
} 

@keyframes opacity { 
	0% { opacity: 0; -webkit-transform: scale(3); transform: scale(3);} 
	100% { opacity: 1; -webkit-transform: scale(1); transform: scale(1);}
}
.youtube{
	text-align: center;
}
.information{
	margin: 30px 0;
	color: #173f5f;
}
.information .inl1 img{
	width: 50%;
	border-radius: 50%;
	box-shadow: 0 0 20px 6px #676b6f;
}
.information .inl2{
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0;
}
.information .inl3 img{
	width: 15%;
	margin: 0 10px;
}
.information .inl4{
	margin: 10px 0 10px 85px;

}
.information .inl4 ul li{
	list-style:none;

}
.information .inl4 ul li a{
	color: #173f5f;
	font-size: 20px;
}
.information .inr1 img{
	width:15%;
	border-radius: 50%;
	box-shadow: 0 0 6px 6px #676b6f;
}
.information .inr3{
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}
.information .inr1 button{
	padding: 3px 40px;
	margin-left: 50px;
	font-size: 18px;
	background-color: #173f5f;
	border: none;
	color: white;
	font-weight: 500;
	border-radius: 10px;
}
.information .inr2{
	margin: 20px 0 40px 0;
	font-size: 17px;
	font-style: italic;
}
.information .inr input{
	width: 60%;
	border: 1px solid #95a7b6;
	border-radius: 7px;
	padding: 0px 10px;
	height: 30px;
}
.information label{
	font-weight: bold;
}
.information .inr00{
	padding: 5px 0;
}
.information .inr9{
	float: right;
	margin-top: 40px;
}
.information .inr9 button{
	padding: 6px 30px;
	margin-left: 50px;
	font-size: 18px;
	background-color: #173f5f;
	border: none;
	color: #f6d55c;
	font-weight: 500;
	border-radius: 7px;
}
.dashboard-custom .dc1{
	margin-bottom: 20px;
}
.dashboard-custom .dc1 span{
	font-size: 35px;
	font-weight: bold;
}
.dashboard-custom .dc2 span{
	font-size: 20px;
}
.dashboard-custom .dc2 .dc2l1{
	background-color: #173f5f;
}
.dashboard-custom .dc2 .dc2l2{
	background-color: #20639b;
}
.dashboard-custom .dc2 .dc2l3{
	background-color: #3caea3;
	
}
.dashboard-custom .dc2 .dc2l1, .dashboard-custom .dc2 .dc2l2, .dashboard-custom .dc2 .dc2l3{
	color:white;
	width: 80%;
	padding:20px  10px;
	font-weight: bold;
}
.information .dc1 input{
	width: 200px !important;
	margin: auto;
}
.dc3{
	margin-top: 40px;
}
.dc3 table{
	width: 100%;
}
.dc3 table .tr1{
	border-bottom: 2px solid #173f5f;
	color: #20639b;
	font-size: 18px;
}
.dc3 table .tr2{
	border-top: 1px solid #173f5f;
	font-size: 15px;
	font-weight: bold;
}
.dc3 table .tr2 td{
	padding: 8px 0px;
}
.dc3 table .tr2 .td1{
	font-size: 15px;
}
.dc3 table .tr2 .td2{
	font-size: 21px;
}
.dc3 table .tr2 .td3 a{
	font-size: 7px;
    background-color: #173f5f;
    color: #e7c95c;
    padding: 5px 30px;
    border-radius: 12px;
}
.dc4{
	margin-top: 40px;
}
.gioithieu-sheet{
	width: 80%;
	margin: auto;

}
.timkiem-sheet{
	margin-top: -100px;
	margin-bottom: 50px;
}
.timkiem-sheet .ts-1{
	width: 40%;
	margin: auto;
}
.timkiem-sheet .ts-1 .input-group-text{
	background-color: #3caea3;
	color: white;
}
.casinoibat{
	margin-top: 30px;
	margin-bottom: 30px;
}
.casinoibat .csnn11 img{
	width: 50%;
	border-radius: 50%;
    box-shadow: 0 0 6px 6px #676b6f;
    margin-bottom: 20px;
}
.casinoibat .csn1{
	margin-bottom: 30px;
}
.casinoibat .csn1 span{
	color: #173f5f;
	font-size: 30px;
	font-weight: bold;
}
.casinoibat .csnn11{
	margin-bottom: 40px;
}
.casinoibat .csnn11 span{
	color: #173f5f;
	font-size: 20px;
	font-weight: bold;
	
}


